.tooltip {
    @apply rounded-lg shadow-lg border border-gray-200 z-30 focus:outline-none;
    display: block !important;
}

.tooltip .tooltip-inner {
    @apply bg-white text-gray-700 rounded-lg overflow-hidden px-4 py-2 relative z-50;
}

.tooltip .tooltip-arrow {
    @apply h-4 w-4 bg-white shadow-lg border border-gray-200 m-3 z-40 transform rotate-45;
    position: absolute;
}

.tooltip[x-placement^='top'] {
    @apply mb-3;
}

.tooltip[x-placement^='top'] .tooltip-arrow {
    @apply -bottom-5;
}

.tooltip[x-placement^='bottom'] {
    @apply mt-3;
}

.tooltip[x-placement^='bottom'] .tooltip-arrow {
    @apply -top-5;
}

.tooltip[x-placement^='right'] {
    @apply ml-3;
}

.tooltip[x-placement^='right'] .tooltip-arrow {
    @apply -left-5;
}

.tooltip[x-placement^='left'] {
    @apply mr-3;
}

.tooltip[x-placement^='left'] .tooltip-arrow {
    @apply -right-5;
}

.tooltip.popover .popover-inner {
    @apply rounded-md shadow-lg focus:outline-none;
    padding: 0 !important;
}

.tooltip.popover .popover-arrow {
    @apply hidden;
}

.tooltip[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 75ms, visibility 75ms, transform 75ms;
}

.tooltip[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: opacity 100ms, transform 100ms;
}
